@use "../../sass/utilities/colorVariables.scss" as color;
@import "../../sass/mixins/mediaQueries.scss";

.card {
  width: 30%;
  display: inline-block;
  margin: 0 10px;
  padding: 1rem;
  border: 2px solid color.$base-color-dark;
  border-radius: 2rem;

  @include medium {
    display: block;
    width: 100%;
    max-height: 41rem;
  }

  @include small {
    display: block;
    width: 100%;
  }

  &__image {
    width: 100%;
    max-height: 30rem;

    @include medium {
      display: block;
      // height: 100%;
      width: 100%;
    }

    @include small {
      display: block;
      width: 100%;
    }
  }

  &__name {
    font-size: 2rem;
    text-align: center;
  }

  &__description {
    font-size: 1.4rem;
    text-align: center;
  }
}
