.container {
  display: flex;
  align-items: center;
  padding: 0rem 5rem;

  &__info {
    width: 50%;
  }

  &__heading {
    font-size: 4rem;
  }

  &__description {
    font-size: 1.4rem;
  }

  &__illustration {
    width: 70%;

    img {
      width: 100%;
    }
  }
}
