@import "../../sass/mixins/mediaQueries.scss";

.container {
  display: flex;
  align-items: center;
  padding: 0rem 5rem;
  gap: 2rem;

  @include semi-medium {
    display: block;
  }

  &__info {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3rem;

    @include semi-medium {
      width: 100%;
      text-align: center;

      Button {
        margin: 0 auto;
      }
    }
  }

  &__heading {
    font-size: 3rem;
  }

  &__description {
    font-size: 1.4rem;
    margin-bottom: 4rem;
  }

  &__illustration {
    width: 90%;

    @include semi-medium {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }

  &__hashLink {
    text-decoration: none;
  }

  &__carousel {
    @include medium {
      display: none;
    }
  }
}
