@use "../../sass/utilities/colorVariables.scss" as color;
@import "../../sass/mixins/mediaQueries.scss";

.carousel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
  margin: 5rem 0rem;

  @include large {
    display: none;
  }

  &__heading {
    margin: 0;
    font-size: 3rem;
  }

  &__description {
    margin: 1rem 0rem 0rem 0rem;
    font-size: 1.5rem;
  }

  &__destinations {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  &__image {
    width: 50%;
    height: 50%;
    padding: 1rem;
    border: 4px solid color.$base-color;
    border-radius: 50%;
  }
}
