.wrapper {
  background-color: transparent;
  min-height: 100vh;
  border: 5rem solid rgb(125, 207, 125);

  &__div {
    width: fit-content;
    border-radius: 4rem;
    margin: -1.3rem;
    min-height: 100vh;
    border: 1.5rem solid black;
  }
}
