.page {
  &__heading {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 4rem;
    padding: 0rem 2rem;
  }

  &__description {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding: 0rem 2rem;
  }
}
