@use "../../sass/utilities/colorVariables.scss" as color;
@import "../../sass/mixins/mediaQueries.scss";

.page {
  &__heading {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    padding: 0rem 2rem;

    @include medium {
      text-align: center;
    }
  }

  &__description {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding: 0rem 2rem;

    @include medium {
      text-align: center;
    }
  }

  &__hero {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 3rem;

    @include medium {
      flex-direction: column-reverse;
      margin-top: 4rem;
    }
  }

  &__thumbnail {
    width: 40%;
    height: 100%;
    padding: 1rem;
    border: 4px solid color.$base-color;
    border-radius: 50%;

    @include medium {
      width: 70%;
      margin: 0 auto;
      display: flex;
    }
  }
}
