$base-color: rgb(191, 241, 191);
$base-color-dark: rgb(0, 0, 0);
$base-color-light: rgb(255, 255, 255);

$tertiary-color-light: rgb(255, 166, 0);
$tertiary-color-dark: rgb(209, 53, 53);

$modal-shade: rgba(0, 0, 0, 0.5);
