@import "../../sass/mixins/mediaQueries.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 7rem;

  &__heading {
    margin: 0;
    font-size: 3rem;
  }

  &__error {
    margin-left: 1rem;
    margin-top: 0;
    color: red;
    font-size: 1.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    input,
    textarea {
      width: 30vw;
      box-sizing: border-box;
      padding: 1.5rem 1rem;
      border: 1px solid black;
      border-radius: 2rem;
      font-family: inherit;
      text-indent: 1rem;
      margin: 1rem;

      @include medium {
        width: 40vw;
      }
    }

    textarea {
      height: 20vh;
      margin-bottom: 2rem;
    }
  }

  &__illustration {
    width: 80%;

    img {
      width: 100%;
    }
  }
}
