@use "../../sass/utilities/colorVariables.scss" as color;
@import "../../sass/mixins/mediaQueries.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 4rem;

  &__logo {
    font-size: 3rem;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  &__icon {
    font-size: 2.4rem;
  }

  &__dropdown {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__subNav {
    width: 100%;
    padding: 0;
    position: absolute;
    top: 25px;
    list-style: none;
    background-color: white;
    border: 1px solid black;

    li {
      padding: 2rem;
      text-decoration: none;
      text-align: center;
      cursor: pointer;

      &:hover {
        background-color: aliceblue;
      }
    }
  }

  &__hamburger {
    display: none;

    @include semi-medium {
      position: relative;
      display: block;
      font-size: 3rem;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 1.6rem;
    gap: 3rem;

    @include semi-medium {
      display: none;
    }

    li {
      cursor: pointer;

      &:hover {
        color: rgb(57, 57, 57);
      }
    }
  }

  &__hamburgerNav {
    @include semi-medium {
      width: 71%;
      background-color: color.$base-color-light;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      list-style: none;
      font-size: 1.6rem;
      gap: 3rem;
      padding: 2rem;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3rem;

      li {
        justify-content: center;
        cursor: pointer;
      }
    }
  }
}
