.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 4rem;

  &__logo {
    font-size: 3rem;
    font-weight: 700;
  }

  &__nav {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 1.6rem;
    gap: 3rem;

    li {
      cursor: pointer;

      &:hover {
        color: rgb(57, 57, 57);
      }
    }
  }
}
