@import "../../sass/mixins/mediaQueries.scss";

.form {
  margin-top: 5rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include medium {
    margin-top: 2rem;
  }

  input,
  select {
    width: 30vw;
    box-sizing: border-box;
    padding: 1.5rem 1rem;
    border: 1px solid black;
    border-radius: 2rem;
    font-family: inherit;
    text-indent: 1rem;

    @include medium {
      width: 40vw;
    }
  }

  &__bookedText {
    font-size: 2rem;
    text-align: center;
  }
}

.react-calendar {
  width: 20%;
}
